html, body {
    
    margin:0;
    padding:0;
    
    font-family: Arial;
    font-size:20px;
}

h1 {
    font-size:1.5em;
}

h2 {
    font-size:1.2em;
    margin-bottom:10px;
}

.left {
   
    width:50%;
    float:left;
}

.right {
    width:50%;
    float:left;
    text-align: right;
}

.container {
    width: 100%;
    max-width:960px;
    margin: 0 auto;
}

table, tr, th, td {
    
    margin:0;
    padding:10px;
    
    border: solid 1px #222;
    border-collapse: collapse;
}

table {
    width: 70%;
}

th {
    background-color: #09c;
}

.names {
    width: 20%;
}

.age {
    text-align: center;
}

/*    FORMS   */



header {
    width: 53.5%;
    height: 50px;
    background-color:#09c;
    line-height: 50px;
    padding-left:10px;
    margin-top:80px;
    margin-bottom:10px;
}

form {
    display:block;
    position: relative;
    width:60%;
    /*border:1px solid #222;*/
}

input, input[type="submit"] {
    display: block;
    width: 90%;
    height: 30px;
    font-size:20px;
    margin-bottom:5px;
    
    border-color: #222;
}

input[type="submit"] {
    width: 91%;
    border:2px solid #222;
    background-color: #09c;
    color:#fff;
}

.headerRemove {
    height: 120px;
    background-color: transparent;
}

.removeSure {
    font-size: 50px;
    color: red;
    height: 60px;
}